
.a{

  background-color:#f00000;
}


 
.Geekonix
{
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  margin: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle 
{
  width: 50%;
}